
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    /* border-top: 3px solid  #e92727; */
    border-bottom: 5px solid  #04091e;
    border-radius: 10px;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  }

  .contact .info:hover {
    border-color:#235ee7;
    transition:0.5s
  }
  
  .contact .info i {
    font-size: 20px;
    color:  #04091e;
    float: left;
    width: 44px;
    height: 44px;
    background: #f3f5fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
  }
  
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6182ba;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info .social-links {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  
  .contact .info .social-links a:hover {
    background:  #04091e;
    color: #fff;
    
  }
  
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background:  #04091e;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    border-radius:10px;
    transition:0.5s;
    border-bottom: 5px solid  #04091e;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }

  .contact .php-email-form:hover {
    border-color:#235ee7;
    transition:0.5s;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color:  #04091e;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background:  #04091e;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 10px;
    background-image: -moz-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
    background-image: -webkit-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
    background-image: -ms-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
  }
  
  
  .contact .php-email-form button[type="submit"]:hover {
    background: -moz-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
    background: -webkit-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
    background: -ms-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    color: #000000;
    border-bottom:2px #04091e solid;
  

  }


  .sectioncontact{
    margin-top: 100px;
  }
  .sectioncontact h2{
  display: none;
  }
  
  

  