::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } 

  .our-team-main{ 
    width:100%;
    height:auto;
    border-bottom:5px #04091e solid;
    background:#fff;
    text-align:center;
    border-radius:10px;
    overflow:hidden;
    position:relative;
    transition:0.5s;
    margin-bottom:28px
  }
  .our-team-main img
  {
    border-radius:10%;
    margin-bottom:20px;
    width: 200px;
    height:200px;

  }
  .our-team-main h3
  {
    font-size:20px;
    font-weight:700
  }
  .our-team-main p{margin-bottom:0}
  .team-back
  {
    width:100%;
    height:auto;
    position:absolute;
    top:0;
    left:0;
    padding:5px 15px 0 15px;
    text-align:left;
    background:#fff
}
  .team-front{
    width:100%;
    height:auto;
    position:relative;
    z-index:10;
    background:#fff;
    padding:15px;
    bottom:0px;
    transition: all 0.5s ease}
  .our-team-main:hover .team-front{
    bottom:-300px;transition: all 0.5s ease}
  .our-team-main:hover{
    border-color:#235ee7;
    transition:0.5s}




